# please prepare tests for correction!!!

cgi_autoindex   cgi_test/dir_list_cgi.sh;

server {
    listen 1235;
    autoindex yes;
    location / {
        cgi_return  cgi_test/cgi_lol.sh;
    }
    location / .sh{
        cgi_return ash.sh;
    }
}

server {
	listen 3000;
	autoindex yes;
	root cgi_test;
	location / .sh {
		cgi_return /bin/bash;
	}
}

server {
    listen         8082;
    server_name    lolserv;
    location / {
        allow_methods GET;
    }
    location / .cpp{
        e_404             error_pages/404.html;
        e_405             error_pages/405.html;
        root              src;
        cgi_return        cgi_lol.sh;
    }
}

server {
    listen 8081;
    root docs/fusion_web;
    index index.html;
    location / {

    }
    #autoindex yes;
}

server {
    listen 3000;
    server_name cgi_test;
    allow_methods GET;
    root cgi_test;
    autoindex yes;
    location / {

    }
    location / .sh {
        cgi_return /bin/bash;
        
    }
}
server {
    listen         8084;
    server_name    localhost:8082 www.lol.com;
    root           .;
    index          index.html;
    try_files $uri /index.html;
    e_404             404.html;
    e_403             error_pages/403.html;
    autoindex       yes;
    location /haha {
        root haha/;
        index   file.html;
    }
    location /akdssd {
        return            307   http://google.com/~;
    }
    location /nothere .cpp {
        root .;
       # return            302 /src/~;
    }
    location / .cpp{
        e_404             error_pages/404.html;
        e_405             error_pages/405.html;
        #root              src;
        cgi_return        cgi_lol.sh;
    }
    location / .hpp{
        #allow_methods     POST;
        e_405             error_pages/405.html;
        e_404             error_pages/404.html;
        root              include;
        return            307   akdssd;
    }
    location / .html{
        #root        html;
        e_404             error_pages/404.html;
    }
    location / {
    autoindex yes;
        e_404             error_pages/404.html;
        root        .;
    }
    location /html {
        e_404             error_pages/404.html;
        index          file.html;
        root        html;
    }
    location /aads {
        root .;
    }
}

server {
    listen         8088;

    server_name    localhost:8085 www.lol.com;
    root           .;
    index          index.html;
    try_files $uri /index.html;
    e_404             404.html;
    e_403             error_pages/403.html;
    autoindex       yes;
    location /haha {
        root .;
        index   file.html;
    }
    location /akdssd {
        return            307   http://google.com/~;
    }
    location /nothere .cpp {
        root .;
       # return            302 /src/~;
    }
    location / .cpp{
        e_404             error_pages/404.html;
        e_405             error_pages/405.html;
        root              src;
        cgi_return        cgi_lol.sh;
    }
    location / .hpp{
        #allow_methods     POST;
        e_405             error_pages/405.html;
        e_404             error_pages/404.html;
        root              include;
        return            307   akdssd;
    }
    location / .html{
        root        html;
        e_404             error_pages/404.html;
        cgi_return        html/lol.sh;
    }
    location / {
    autoindex yes;
        e_404             error_pages/404.html;
        root        .;
    }
    location /html {
        e_404             error_pages/404.html;
        index          file.html;
        root        html;
    }
    location /aads {
        root .;
    }
}
