#       ~ usage: while redirecting (return codes 301, 308) using ~ is a placeholder for the object in the specified location
#           example:
#               location /a/location {
#                   root    .;
#                   return 301  http://google.com/~
#               }
#           is meant to look for whatever was searched in location, i.e., /a/location/thefile.txt by http://google.com/thefile.txt
#       % usage: while redirecting (return codes 301, 308) using ~ is a placeholder for the whole file address inside server, in case of need to look for the same thing on another server
#           result is similar, but /a/location/thefile.txt -> http://google.com/a/location/thefile.txt

server {
    listen 1235;
}

server {
    listen         8080;
    server_name    lolserv;
    location / {
        allow_methods   POST;
    }
}

server {
    listen         8080;
    server_name    herecan;
    location / {
    }
}

server {
    listen         8082;
    server_name    lolserv;
    location / {
    }
}

server {
    listen         8082;
    server_name    localhost:8082 www.lol.com;
    root           .;
    index          index.html;
    try_files $uri /index.html;
    e_404             404.html;
    e_403             error_pages/403.html;
    location /haha {
        root .;
        index   file.html;
    }
    location /akdssd {
        return            307   http://google.com/~;
    }
    location /nothere .cpp {
        root .;
        return            302 /src/~;
    }
    location / .cpp{
        e_404             error_pages/404.html;
        e_405             error_pages/405.html;
        root              src;
       # cgi_return        cgi_lol.sh;
    }
    location / .hpp{
        #allow_methods     POST;
        e_405             error_pages/405.html;
        e_404             error_pages/404.html;
        root              include;
        return            307   akdssd;
    }
    location / .html{
        root        html;
        e_404             error_pages/404.html;
        return            307   html;
    }
    location / {
    autoindex yes;
        e_404             error_pages/404.html;
        root        .;
    }
    location /html {
        e_404             error_pages/404.html;
        index          file.html;
        root        html;
    }
    location /aads {
        root .;
    }
}
