#       ~ usage: while redirecting (return codes 301, 308) using ~ is a placeholder for the object in the specified location
#           example:
#               location /a/location {
#                   root    .;
#                   return 301  http://google.com/~
#               }
#           is meant to look for whatever was searched in location, i.e., /a/location/thefile.txt by http://google.com/thefile.txt
#       % usage: while redirecting (return codes 301, 308) using ~ is a placeholder for the whole file address inside server, in case of need to look for the same thing on another server
#           result is similar, but /a/location/thefile.txt -> http://google.com/a/location/thefile.txt

server {
    listen 1234;
    location / {
        allow_methods GET;
    }
}

server {
    listen         8070 def _oos;
    server_name    locahost;
    root           .;
    index          index.html;
    try_files $uri /index.html;
    e_404             404.html;
    e_403             error_pages/403.html;
    autoindex yes;
    location /haha {
        root .;
        index   file.html;
    }
    location /akdssd {
        laosasda;
        adads;
        as;
    }
    location /nothere .cpp {
        root .;
        return            302 /src/~;
    }
    location / .cpp{
        e_404             error_pages/404.html;
        e_405             error_pages/405.html;
        root              src;
    }
    location /src .cpp{
        e_404             error_pages/404.html;
        e_405             error_pages/405.html;
        root              src;
        return            307   google.com;
    }
    location / .hpp{
        #allow_methods     POST;
        e_405             error_pages/405.html;
        e_404             error_pages/404.html;
        root              include;
        adads;
        as;
    }
    location / .html{
        root        html;
        e_404             error_pages/404.html;
        adads;
        as;
    }
    location / {
        e_404             error_pages/404.html;
        root        .;
        adads;
        as;
    }
    location /html {
        e_404             error_pages/404.html;
        index          file.html;
        root        html;
        adads;
        as;
    }
    location /aads {
        root merdols;
        laosasda;
        adads;
        as;
    }
}
