#       ~ usage: while redirecting (return codes 301, 308) using ~ is a placeholder for the object in the specified location
#           example:
#               location /a/location {
#                   root    .;
#                   return 301  http://google.com/~
#               }
#           is meant to look for whatever was searched in location, i.e., /a/location/thefile.txt by http://google.com/thefile.txt
#       % usage: while redirecting (return codes 301, 308) using ~ is a placeholder for the whole file address inside server, in case of need to look for the same thing on another server
#           result is similar, but /a/location/thefile.txt -> http://google.com/a/location/thefile.txt
#         If no good location is found the default location is returned, which allows no methods
#         If no location is declared then anoither default location is returned, which allows all

cgi_autoindex   cgi_test/dir_list_cgi.sh;

server {
    listen 8080;
    root .;
    autoindex yes;
}

