# please prepare tests for correction!!!

cgi_autoindex   cgi_test/dir_list_cgi.sh;

server {
    listen         8081;
    server_name    localhost:8081;
    root           .;
    index          /html/index.html;
    e_404             404.html;
    e_403             error_pages/403.html;
    autoindex yes;
    location /cgi_test .sh {
        root cgi_test;
        cgi_return /bin/bash;
    }
    # does nothing cgi
    location /src .cpp {
        root src;
        cgi_return ./cgi_test/ash.sh;
    }
    location /include .hpp {
        root include;
        cgi_return ./cgi_test/whereami.sh;
    }
    # writes POST body and query string to client
    location /empty {
        root .;
        allow_methods POST;
        cgi_return ./cgi_test/cgi_lol.sh;
    }
    # infinite loop
    location /empty1 {
        root .;
        cgi_return ./cgi_test/loop_cgi.sh;
    }
    # broken cgi
    location /empty2 {
        root .;
        cgi_return ./cgi_test/broken_cgi.sh;
    }
}

