# please prepare tests for correction!!!

cgi_autoindex   cgi_test/dir_list_cgi.sh;

server {
    listen         8080;
    server_name    localhost:8082;
    root           .;
    e_404             error_pages/404.html;
    e_403             405.html;
    max_body_size	10;
    add_header Set-Cookie: lololo hehe asl;
    
    location / .hpp{
        allow_methods     POST;
        e_405             error_pages/405.html;
        e_404             error_pages/404.html;
        root              include;
        cgi_return        cgi_test/cgi_lol.sh;
    }
    location / .html{
        #root        html;
        e_404             error_pages/404.html;
    }
    location /nothere .cpp {
        root .;
       # return            302 /src/~;
    }
    location / {
        allow_methods GET;
        autoindex yes;
        root        .;
    }
    location /haha {
        root haha/;
        index   file.html;
    }
    location /src {
    	root	src;
        return            307   http://google.com/~;
    }
    location /html {
        e_404             error_pages/404.html;
        index          index.html;
        root        html;
    }
    location /aads {
        root .;
    }
    location /docs {
        add_header Ballz: lololoqw12;
        allow_methods POST;
        root ./docs/;
    }
}

