# please prepare tests for correction!!!

cgi_autoindex   cgi_test/dir_list_cgi.sh;

server {
    listen         8080;
    server_name    localhost:8082;
    root           .;
    index          /html/index.html;
    e_404             404.html;
    e_403             error_pages/403.html;
    location /haha {
        root haha/;
        index   file.html;
    }
    location /akdssd {
        return            307   http://google.com/~;
    }
    location /nothere .cpp {
        root .;
       # return            302 /src/~;
    }
    location / .cpp{
        e_404             error_pages/404.html;
        e_405             error_pages/405.html;
        #root              src;
        cgi_return        cgi_test/cgi_lol.sh;
    }
    location / .hpp{
        #allow_methods     POST;
        e_405             error_pages/405.html;
        e_404             error_pages/404.html;
        root              include;
        return            307   akdssd;
    }
    location / .html{
        #root        html;
        e_404             error_pages/404.html;
    }
    location / {
        allow_methods GET;
        autoindex yes;
        root        .;
    }
    location /html {
        e_404             error_pages/404.html;
        index          index.html;
        root        html;
    }
    location /aads {
        root .;
    }
    location /docs {
        allow_methods POST DELETE;
        root ./docs/;
    }
}

