# please prepare tests for correction!!!

cgi_autoindex   cgi_test/dir_list_cgi.sh;
max_body_size 100;

server {
    listen         8080;
    server_name    localhost:8080;
    index          /html/index.html;
    location / {
        autoindex       no;
        root .;
    }
}

server {
    listen         8080;
    server_name    lol.com:8080;
    index          /html/index.html;
    location / {
        autoindex       yes;
        root .;
    }
}
